* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif
}

body {
  margin: 0;
  padding: 0;
  background-color:lightcyan;
}

.header {
  background-color: skyblue;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
}

form {
  position: relative;
  width: 50rem;
  margin: 2rem auto;
  background-color: white;
  border-radius: 1rem;
}

input[name='title'], textarea {
  background-color: transparent;
  font-size: 2rem;
  width: 100%;
  border: none;
  padding: 1rem;
}

textarea {
  font-size: 1.5rem;
}

.add {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  background-color: skyblue;
  color: white;
  font-size: 1.2rem;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: .8rem;
}

.noteContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
  border: none;
}

.note {
  padding: .5rem 1rem;
  border-radius: 1rem;
  width: 20rem;
  max-width: 30rem;
  background-color: white;
}

.note button{
  background-color: red;
  color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
  float: right;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #aaa;
}